


.main{
    margin-top: 10rem;

    &__heroSlogan{
        font-size: 100%;
        width: 30%;
        height: 20%;
    }
}


 .main__heroImg{
         width: 100%;
         height: 100%;
        }


// .main__somosText{
//     font-size: 1.2rem;
// }


// CONTACTO

.main__contacto{
    background-image: url("../assets/img/contacto.png");

 }

